/* font style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em 5em;
  font-size: 1.5625;
  font-weight: 400;
}

/* scrollbar style */

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #959595;
}

::-webkit-scrollbar-thumb {
  background-color: #e39600;
}

nav .logo {
  display: flex;
  align-items: center;
  color: #ad822d;
  gap: 0.2em;
  cursor: pointer;
}

nav #logo {
  width: 2.5rem;
}

.nav_links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1.25em;
}

.nav_links .links {
  color: #959595;
  cursor: pointer;
}

.nav_links .links a {
  color: #959595;
  text-decoration: none;
}

.nav_links button {
  background-color: #e39600;
  color: #fff;
  border-radius: 9px;
  border: none;
  width: 4.5rem;
  line-height: 38px;
  cursor: pointer;
}

.about_section {
  display: flex;
  padding: 2em 5em;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
}

.about_section article {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.about_section article .article_head {
  font-weight: 500px;
  font-size: 45px;
  line-height: 135.5%;
}

.about_section article .article_content {
  width: 75%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.1rem;
}
.about_section .figure {
  display: grid;
  grid-template-columns: 100px 350px 100px;
  grid-template-rows: 70vh;
  gap: 5px;
  align-self: flex-start;
}

.figure_tile {
  background-position: fixed;
  background-image: url(/images/interior_design_1.jpg);
  background-size: 97vh 65vw;
  background-position: bottom left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.middle-tile-section {
  display: flex;
  align-self: end;
  height: 95%;
  flex-direction: column;
  justify-content: space-between;
}

.middle-tile-section .figure_tile:nth-of-type(1) {
  height: 30%;
}

.middle-tile-section .figure_tile:nth-of-type(2) {
  height: 69%;
}

.team_section {
  padding: 2em 5em;
  margin: 1em 0em;
}

.section_head {
  font-weight: 500px;
  font-size: 40px;
  line-height: 135.5%;
}

.team_members {
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: space-evenly;
  gap: 2em;
}

.team_member {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  font-size: 1rem;
}

.member_pic {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

footer {
  display: flex;
  gap: 10em;
  padding: 5em 4em;
}

.column_1,
.column_2,
.column_3 {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.column_2 ul,
.column_3 ul {
  list-style: none;
}

.social_icons {
  display: flex;
  gap: 1em;
}

.social_icons img {
  width: 1.75em;
}
